body {
    background-color: rgb(154, 163, 163);
}

.header {
    display: flex;
    justify-content: center;
   font-size: 25px;
    border-radius: 150px;
    border-color: black;
    border-style: solid;
}

.heads {
    font-size: 22px;
    text-decoration: underline;
}

.about {
    display: flex;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}



.grid-container {
    margin: 0 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "flag flag"
    "falls great";
}

#flag {
    grid-area: flag;
    background-image: url("/Images/flag.png");
}

#falls {
    grid-area: falls;
    background-image: url("/Images/Falls.jpg");
}

#great {
    grid-area: great;
    background-image: url("/Images/great.jpg");
}